
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family:'Roboto Condensed'; */
  font-weight: 400;
  /* font-style: normal; */
  font-size: 18px;
}
body {
scroll-behavior: smooth;
background: radial-gradient( rgb(69, 39, 138,1)1%, rgba(0,0,0,1)90%);
/* background-image: url("Assets/bg.jpg"); */
background-size: cover;
background-position:center;
background-attachment:fixed;
backdrop-filter: blur(10px);
 color: #000000;
 height: 100vh;
 overflow: hidden;
}

.main-container {
    padding: 18px 22px;
    margin: 4px auto;  
}
.nav{
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    top: 2px;
    font-family:'Roboto Condensed';
}
.nav-left, .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family:'Roboto Condensed';
}
.nav-right i {
font-size: 30px;
}
.btn {
    font-size: 15px;
    font-weight: 400;
    padding: 8px 14px;
    background-color:rgba(126, 76, 252, 0.8);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    font-family:'Montserrat';
    /* box-shadow: 0px 0px 4px grey;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px; */
}
#sec1 {
    /* background-color: red; */
    margin-top: 80px;
    width: 100%;
    padding:24px 8px;
    text-align: center;
    line-height: 70px;
    font-family:'Roboto Condensed';
}
#sec1 h1 {
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(45deg,rgba(124, 56, 235, 1), #ffffff,rgba(124, 56, 235, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 8px rgba(124, 56, 235, 0.5);
  letter-spacing: -4px;
  /* color: white; */
  font-family: "michroma";
}
#sec1 p {
    font-size: 38px;
    font-weight: 400;
    color: rgb(186, 186, 186);
    text-shadow: 2px 2px 8px rgba(107, 28, 236, 0.8);
     font-family: "michroma";
}
#suggestions {
    width: 100%;
    margin: 72px auto 125px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    color: white;

}
.suggestion-box {
    width: 50%;
    font-size: 24px;
    /* border-left: 1px solid rgb(87, 87, 87); */
    border-radius: 12px;
    padding: 16px 20px;
   
    line-height: 32px;
    position: relative;
    /* font-family:'Roboto Condensed'; */
}
.bgblack {
     background-color: rgba(0, 0, 0, 0.475);
}
.borderblack {
    border: 1px solid white;
}
.suggestion-box h2 {
    font-size: 28px;
    margin-bottom: 4px;
    font-family:'Roboto Condensed';
    font-weight: 600;
}
.suggestion-box p {
    font-size: 18px;
    font-family:'Montserrat';
    font-weight: 200;
}
.suggestion-box i {
    font-size: 22px;
    position: absolute;
    right: 12px;
    bottom:9px;
    color:rgb(137, 100, 222);
}
#smallbox {
    width: 12px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:-45px;
}
.btn2 {
    height: 60px;
    padding: 14px 30px;
    font-size: 20px;
    font-family:'Montserrat';
    font-weight: 500;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-bottom: 120px;
}
.btn2 i {
    height: 60px;
    font-size: 24px;
}
.chats-container {
    width: 90%;
    height:72vh;
    /* border: 1px solid rgb(208, 206, 206); */
    margin: 2px auto;
    padding: 4px;
    /* font-size: 64px; */
    color: white;
    font-weight: 200;
    border-radius: 24px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    /* align-items: flex-start; */
    /* text-align: left; */
    position: relative;
    opacity: 0;
    /* background-color: red; */
    overflow-y: scroll;
}
.message {
    width: fit-content;
    margin: 8px;
    padding: 8px 20px;
/* background-color: rgba(0, 0, 0, 0.5); */
/* border: 1px solid white; */
border-radius: 24px ;
 max-width: 90vw;
 min-width: 5vw;
 text-align: center;
 font-family:'Montserrat';
}
.user-mssg {
    min-width: 1vw;
   max-width:50vw;
   align-self: flex-end;
   text-align: left;
   margin:20px 12px;
   border:none;
   border-bottom-right-radius: 0px;
   background-color: rgb(102, 19, 225);
   font-family:"Montserrat";
   font-weight: bolder;
}
.chat-mssg {
    max-width: 90%;
    text-align: left;
    display: flex;
     gap:8px;
     align-items: center;
     justify-content: flex-start;
     font-family:'Montserrat';
     font-weight: 100;
     background-color: rgba(85, 84, 84, 0.223);
     position: relative;
     margin-left: 45px;

}
.chats-container::-webkit-scrollbar {
  display: none; 
}
.chat-mssg img {
    position: absolute;
    left: -45px;
    top: 6px;
    z-index: 10;
}
.chat-mssg p , .user-mssg p{
    font-size: 19px;
    line-height: 36px;
     font-family:"Montserrat";
     font-weight: 300;
}
.prompt-form {
    display:none;
    justify-content: space-between;
    align-items: center;
     border: 1px solid rgb(94, 92, 92);
     padding: 8px;
     border-radius: 24px;
    background-color: rgb(93, 93, 93);
    height: 60px;
    width: 60vw;
    box-shadow: 0px 0px 3px rgb(184, 180, 180);
    position: absolute;
    bottom:30px;
    left:350px;
    background-color: #cbcbcb21;
    border: none;
    /* background-color:rgb(131, 131, 131); */
}
.prompt-input {
    min-width: 39vw;
    height: 100px;
    padding-left: 12px;
    text-align: left;
    box-sizing: border-box;
    font-size: 18px;
    background-color: transparent;
    border:none;
    color: rgb(255, 255, 255);
    outline: none;

}
.avatar {
    width: 40px;
    /* animation:rotate 3s linear infinite; */
}
.btn3 {
    height:40px;
    width: 40px;
    background-color: transparent;
    border: none;
}
#prompt-input-file {
    color: rgb(255, 255, 255);
}
#dlt-chat {
    color:rgb(254, 254, 254);
}
#prompt-send {
    color:white;
    text-shadow: 1px 1px 1px white;
}
.btn3 i {
    height: 100%;
    font-size: 24px;
    font-weight: 100;
}
